<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.QuanLyChiTieu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="Hoshi Budget"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //them activity cha de su dung nut back trong toolbar
        <activity android:name="com.example.QuanLyChiTieu.AccountActivity"
            android:parentActivityName=".MainActivity"
            ></activity>
        <activity android:name="com.example.QuanLyChiTieu.MainActivity" />
        <activity android:name="com.example.QuanLyChiTieu.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>